<form action="/sign-up" method="POST">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Type your Name" />
  {{!-- <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Insert yout Email" /> --}}
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="Insert Password" />
  <button>Sign Up</button>
</form>